<template>
  <div id="app">
    <Colaboradores />
  </div>
</template>

<script>
import Colaboradores from './components/Colaboradores.vue'

export default {
  name: 'App',
  components: {
    Colaboradores
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  --main-font-color: #2d2d2d;
}

body {
  font-family: 'Poppins', sans-serif;
  margin:0;
  padding:0;
}

input, label{
  font-family: 'Poppins', sans-serif;
  color: var(--main-font-color);
}

h1{
  color: var(--main-font-color);
  font-size: 20px;
}

p{
  color: var(--main-font-color);
}

button{
  cursor: pointer;
  border-radius: 5px;
  padding: 7px 20px;
  transition: all .3s ease;
}

.table-colaboradores--pagination-item{
  width: 30px;
  height: 30px;
  font-size: 12px;
  cursor: pointer;
  border-right: 1px solid #bdc3c7;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease;
}

.table-colaboradores--pagination-item:last-child{
  border:0;
}

.table-colaboradores--pagination-item:hover{
  background-color: #1e90ff;
  transition: all .3s ease;
  color: white;
}
</style>
