@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Poppins:wght@300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
  }
  
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #5352ed;
}

::-webkit-scrollbar-thumb:hover {
    background: #fff;
}

@layer components{
    .card{
        @apply bg-card flex justify-center items-center relative min-h-72 shadow rounded-3xl p-5 border-solid border-2 border-black;
    }
}