<template>
  <div>
    <div class="colaboradores">
      <h1>Listado de colaboradores</h1>
      <div class="tabs">
        <div class="tab active">
          <p>Colaboradores</p>
        </div>
      </div>
      <div class="table table-colaboradores">
        <div class="table-colaboradores--actions">
          <div>
            <input type="text" placeholder="Buscar por nombre" v-on:keyup="searchEmployee" />
          </div>
          <div>
            <button id="addEmployee" v-on:click="modalShow = !modalShow; modalTitle = 'Crear'; clearForm()">Crear colaborador</button>
          </div>
        </div>
        <div class="table-colaboradores--info">
          <div class="table-colaboradores--header table-colaboradores--row">
            <div class="table-colaboradores--checkbox"><input type="checkbox"></div>
            <div class="table-colaboradores--name">Nombre</div>
            <div class="table-colaboradores--age">Edad</div>
            <div class="table-colaboradores--weight">Peso</div>
            <div class="table-colaboradores--height">Altura</div>
            <div class="table-colaboradores--menu"></div>
          </div>
          <div class="table-colaboradores--row" v-for="employee in employeeList" v-bind:key="employee.id" v-bind:style="{ display: employee.isDeleted}">
            <div class="table-colaboradores--checkbox">
              <input type="checkbox">
            </div>
            <div class="table-colaboradores--name">
              <p>{{ employee.firstName }} {{ employee.lastName }}</p>
            </div>
            <div class="table-colaboradores--age">
              <p>{{ employee.age }}</p>
            </div>
            <div class="table-colaboradores--weight">
              <p>{{ employee.weight }} kg</p>
            </div>
            <div class="table-colaboradores--height">
              <p>{{ employee.height }} cm</p>
            </div>
            <context-menu @selectedID="getSelectedID($event)" :employee="employee"></context-menu>
          </div>
        </div>
        <div class="table-colaboradores--pagination" id="pagination"  v-on:click="paginationClick">
        </div>
      </div>
    </div>
    <div class="notification" v-bind:class="{ notificationShow }" ref="notification">
      <font-awesome-icon :icon="['fa', 'circle-check']" /> {{notificationMessage}}
    </div>
    <div class="modal" v-bind:class="modal">
      <div class="modal-container">
        <p class="modal-title">{{ modalTitle }} Colaboradores</p>
        <div class="modal-close" v-on:click="modalShow = !modalShow">
          <font-awesome-icon :icon="['fas', 'xmark']" />
        </div>
        <form id="addEmployee">
          <div class="modal-input">
            <label>Nombre(s)<span>*</span></label>
            <input type="text" required v-model="name" placeholder="Solo nombre(s)" id="name"/>
          </div>
          <div class="modal-input">
            <label>Apellido Paterno<span>*</span></label>
            <input type="text" required v-model="lastName" placeholder="Ingresa el primer apellido" id="lastname"/>
          </div>
          <div class="modal-input">
            <label>Edad<span>*</span></label>
            <input type="number" required v-model="age" placeholder="Ingresa la edad" min="18" max="100" id="age"/>
          </div>
          <div class="modal-input">
            <label>Peso (kg)<span>*</span></label>
            <input type="number" required v-model="weight" placeholder="Ingresa el Peso (kg)" id="weight" min="1" max="200"/>
          </div>
          <div class="modal-input">
            <label>Altura (cm)<span>*</span></label>
            <input type="number" required v-model="height" placeholder="Ingresa la Altura (cm)" id="height" min="100" max="250"/>
          </div>
          <div class="modal-actions">
            <button type="reset" id="reset" v-on:click="modalShow = !modalShow; clearForm()">Cancelar</button>
            <button type="submit" @click="submitForm" :id="modalTitle" v-on:click="modalShow = !modalShow">{{ modalTitle }} colaborador</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import axios from "axios"
import VueAxios from 'vue-axios'
import contextMenu from './ContextMenu.vue'


Vue.use(VueAxios, axios)

export default{
  name:'EmployeeList',
  components: {
    'context-menu': contextMenu
  },
  data(){
    return {
      apiURL: 'https://dummyjson.com/users',
      employeeList:undefined,
      pagination:0,
      paginationPage:0,
      limit:30,
      total:100,
      name: '',
      lastName: '',
      age: '',
      height: '',
      weight: '',
      searchLabel: '',
      notificationMessage: '',
      notificationShow: false,
      menuShow: false,
      modalShow: false,
      modalTitle:'Crear',
      addedUsers: [],
      deletedUsers: [],
      modifiedUsers: [],
      selectedUser: undefined
    }
  },
  computed:{
    modal: function(){
      return{
        modalShow: this.modalShow
      }
    }
  },
  methods:{
    getSelectedID: function(value){
        this.selectedUser = value.id
        if(value.action === 'edit'){
            this.getEmployeeInfo()
        }else if(value.action === 'delete'){
            this.deleteEmployee()
        }
    },
    clearForm: function(){
      this.name = ''
      this.lastName = ''
      this.age = ''
      this.height =''
      this.weight =''
    },
    paginationClick: function(event){
      if(event.target.dataset.paginationid){
        this.paginationPage = event.target.dataset.paginationid
        this.pagination=(event.target.dataset.paginationid - 1) * this.limit
        Vue.axios.get(`${this.apiURL}?limit=${this.limit}&skip=${this.pagination}&select=firstName,lastName,age,weight,height`).then((result) => {
          if(event.target.dataset.paginationid == 4){
            this.employeeList = [...result.data.users, ...this.addedUsers]
          }else{
            this.employeeList = result.data.users
          }
          this.updateListWithLocalChanges()
        })
      }
    },
    updateListWithLocalChanges: function(){
      let temp = [...this.employeeList]
      for(let i = 0; i< temp.length; i++){
        for(let j = 0; j < this.modifiedUsers.length; j++){
          if(this.modifiedUsers[j] && temp[i] && temp[i].id == this.modifiedUsers[j].id){
            temp[i] = this.modifiedUsers[j]
          }
        }
        
        for(let j = 0; j < this.deletedUsers.length; j++){
          if(temp[i].id === this.deletedUsers[j]){
            temp[i].isDeleted = 'none'
          }
        }
      }

      for(let i = 0; i< this.modifiedUsers.length; i++){
        for(let j = 0; j < this.addedUsers.length; j++){
          if(this.modifiedUsers[i] && this.addedUsers[j] && this.modifiedUsers[i].id == this.addedUsers[j].id){
            if(this.modifiedUsers[j] != undefined){
              this.addedUsers[i] = this.modifiedUsers[j]}
          }
        }
      }
      this.employeeList = temp
    },
    showNotification: function(message){
      this.notificationMessage = message
      this.notificationShow = true
      setTimeout(() => {
        this.notificationShow = false
      }, 5000);
    },
    addEmployee(){
        const addEmployeeInfo = {firstName: this.name,lastName: this.lastName,age: this.age,height: this.height,weight: this.weight,}
        return Vue.axios.post(`${this.apiURL}/add`, addEmployeeInfo)
    },
    editEmployee(){
        const editEmployeeInfo = {firstName: this.name,lastName: this.lastName,age: this.age,height: this.height,weight: this.weight,}
        return Vue.axios.put(`${this.apiURL}/${this.selectedUser}`, editEmployeeInfo)
    },
    async submitForm(e){
      e.preventDefault()
      try{
        if(this.modalTitle === 'Crear'){
            let result = await this.addEmployee()
            this.addedUsers.push(result.data)
            this.modifiedUsers[result.data.id] = result.data
            this.limit - result.data.limit
            this.showNotification('El colaborador fue agregado')
            if(this.paginationPage == 4)
                this.employeeList = [...this.employeeList, ...this.addedUsers]
        }
        
        if(this.modalTitle === 'Editar'){
            if(this.modifiedUsers[this.selectedUser]){
                this.modifiedUsers[this.selectedUser] = {id: this.selectedUser, firstName:this.name, lastName:this.lastName, age:this.age, weight:this.weight, height:this.height,}
            }else{
                let result = await this.editEmployee()
                this.modifiedUsers[this.selectedUser] = result.data
            }
        }
        
        this.updateListWithLocalChanges()
        this.clearForm()
      }catch (error){
        console.log(`ERROR: ${error}`)
      }
    },
    deleteEmployee: function(){
        if(this.selectedUser <= 100){
          Vue.axios.delete(
              `${this.apiURL}/${this.selectedUser}`
            ).then((result) => {
              this.showNotification('El colaborador ha sido eliminado')
              this.deletedUsers.push(result.data.id)
              this.updateListWithLocalChanges()
          })
        }else{
          this.deletedUsers.push(this.selectedUser)
          this.showNotification('El colaborador ha sido eliminado')
          this.updateListWithLocalChanges()
        }
    },
    getEmployeeInfo: function(){
      this.modalTitle = 'Editar'
      if(this.modifiedUsers[this.selectedUser]){
          this.name = this.modifiedUsers[this.selectedUser].firstName
          this.lastName = this.modifiedUsers[this.selectedUser].lastName
          this.age = this.modifiedUsers[this.selectedUser].age
          this.height = this.modifiedUsers[this.selectedUser].height
          this.weight = this.modifiedUsers[this.selectedUser].weight
      }else{
        Vue.axios.get(`${this.apiURL}/${this.selectedUser}`).then((result) => {
          this.name = result.data.firstName
          this.lastName = result.data.lastName
          this.age = result.data.age
          this.height =result.data.height
          this.weight =result.data.weight
        })
      }
      this.modalShow = !this.modalShow
    },
    searchEmployee: function(event){
      if(event.target.value){
        this.searchLabel = event.target.value
        Vue.axios.get(
            `${this.apiURL}/search?q=${this.searchLabel}`
          ).then((result) => {
            this.employeeList = result.data.users
            this.updateListWithLocalChanges()
        })
      }else{
        Vue.axios.get(`${this.apiURL}?limit=${this.limit}&skip=${this.pagination}&select=firstName,lastName,age,weight,height`).then((result) => {
          this.employeeList = result.data.users
          this.updateListWithLocalChanges()
        })
      }
    }
  },
  mounted()
  {
    Vue.axios.get(`${this.apiURL}?limit=${this.limit}&skip=${this.pagination}&select=firstName,lastName,age,weight,height`).then((result) => {
        this.employeeList = result.data.users.map( employee => {
            employee.active = false
            return employee
        })
        this.total = result.data.total
        const paginationItemsCount = Math.ceil(this.total/this.limit)
        const pagination = document.getElementById('pagination')

        for(let i = 0; i < paginationItemsCount; i++){
            const paginationItem = document.createElement('div')
            paginationItem.dataset.paginationid = i + 1
            paginationItem.innerHTML = i + 1
            paginationItem.classList.add('table-colaboradores--pagination-item')
            pagination.appendChild(paginationItem)
        }
    })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  
  $borderColor: #bdc3c7;
  $callToAction: #1e90ff;
  $callToActionHover: #1e90ff;
  $mobile: 780px;
  .colaboradores{
    max-width: 1400px;
    margin: 0 auto;
    padding: 50px 30px;

    h1{
      font-weight: bold;
    }
  }

  .tabs{
    border-bottom: 1px solid $borderColor;
    margin-top: 50px;

    .tab{
      display:  inline-block;
      transition: background-color .3s ease;
      padding: 5px 10px;

      p{
        margin:5px 0;
        font-size: 12px;
        font-weight: bold;
      }
      &.active{
      border-bottom: 2px solid $callToAction;
      }

      &:hover{
        background-color: $callToAction;
        transition: background-color .3s ease;
        cursor: pointer;

        p{
          color: white;
          transition: color .3s ease;
        }
      }
    }
  }

  .table-colaboradores{
    &--pagination{
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }

    &--row{
      display: grid;
      column-gap: 5px;
      grid-template-columns: 40px 2fr 1fr 1fr 1fr 40px;
      justify-content: center;
      align-items: center;
      color: #2d2d2d;
      padding: 5px 10px;
      border-bottom: 1px solid $borderColor;
      font-size: 12px;
      @media screen and (max-width: $mobile) {
        grid-template-columns: 40px 1fr 1fr 40px;
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 5px;
      }

      p{
        margin: 0;
      }
    }

    &--header{
      border-bottom: 2px solid $borderColor;
      font-size: 14px;
      background-color: white;
      position: sticky;
      top: 0;
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
      font-weight: bold;
      z-index: 10;
    }

    &--actions{
      display: flex;
      flex-direction: row;
      margin: 20px 0;
      @media screen and (max-width: $mobile) {
        display: grid;
        grid-template-columns: 1fr 185px;
        column-gap: 5px;
      }

      img{
        width: 20px;
      }

      div:nth-child(2){
        margin-left: auto;
      }

      input[type="text"]{
        padding: 8px 10px;
        border:1px solid $borderColor;
        border-radius: 5px;
        @media screen and (max-width: $mobile) {
          width: 100%;
        }
      }

      button{
        color: white;
        background-color: $callToAction;
        border: 0;
        padding: 8px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color .3s ease;

        &:hover{
          background-color: #0d58a1;
          transition: background-color .3s ease;
        }
      }
    }

    &--info{
      border: 1px solid $borderColor;
      border-radius: 5px;
    }

    &--menu{
      position: relative;
      cursor: pointer;
      text-align: center;

      button{
        border: 0;
        background: transparent;
      }

      &-icon{
        pointer-events: none;

        div{
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background-color: #2d2d2d;
          margin: 2px auto;
          transition: all .3s ease;
        }
      }

      &-popup{
        background-color: white;
        position: absolute;
        z-index: 1;
        width: 100px;
        top: 0;
        left: -100px;
        border-radius: 5px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 3px;
        transform: scale(0);
        transition: transform .2s ease;

        button{
          width: 100%;
          text-align: left;
          border-radius: inherit;
          padding: 5px;

          &:hover{
            background-color: $callToAction;
            color: white;
            transition: background-color .3s ease;
          }
        }
      }
      &.active{
        .table-colaboradores--menu-icon{
          div:nth-child(1){
            width: 15px;
            border-radius: 3px;
            transform: rotate(45deg) translate(4px, 4px);
          }
          div:nth-child(2){
            width: 15px;
            border-radius: 3px;
            transform: rotate(-45deg);
          }
          div:nth-child(3){
            opacity: 0;
          }
        }
        .table-colaboradores--menu-popup{
          transform: scale(1);
          transition: transform .2s ease;
        }
      }
    }
    
    @media screen and (max-width: $mobile) {
      &--checkbox { grid-area: 1 / 1 / 3 / 2; }
      &--name  { grid-area: 1 / 2 / 2 / 3; }
      &--age  { grid-area: 1 / 3 / 2 / 4; }
      &--weight  { grid-area: 2 / 2 / 3 / 3; }
      &--height  { grid-area: 2 / 3 / 3 / 4; }
      &--menu { grid-area: 1 / 4 / 3 / 5; }
    }
  }

  /*modal*/
  .modal{
    position: fixed;
    inset: 0;
    z-index: 14;
    background-color: rgba(0,0,0, 0);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: all .3s ease;
    &.modalShow{
      transform: translateX(0);
      background-color: rgba(0,0,0,.4);
      transition: all .3s ease;
    }
    
    &-container{
      background-color: white;
      border-radius: 5px;
      padding: 30px;
      width: 50%;
      max-width: 500px;
      position: relative;
      overflow-y: auto;
    }

    &-title{
      font-weight: bold;
      margin-top: 0;
    }

    &-close{
      position: absolute;
      top: 10px;
      right: 20px;
      font-size: 20px;
      color: $borderColor;
      cursor: pointer;
    }

    &-input{
      display: flex;
      flex-direction: column;
      row-gap: 5px;
      margin-bottom: 15px;

      input{
        border: 1px solid $borderColor;
        border-radius: 5px;
        padding: 7px 10px;
      }

      label{
        font-size: 12px;

        span{
          color: red;
        }
      }
    }

    &-actions{
      display: flex;
      flex-direction: row;
      justify-content: end;
      column-gap: 20px;
      margin-top: 20px;

      button[type=reset]{
        border: 1px solid $callToAction;
        color: $callToAction;
        background-color: white;
        font-weight: bold;

        &:hover{
          border: 1px solid $callToActionHover;
          color: $callToActionHover;
        }
      }

      button[type=submit]{
        border: 1px solid $callToAction;
        background-color: $callToAction;
        color: white;
        font-weight: bold;

        &:hover{
          border: 1px solid $callToActionHover;
          background-color: $callToActionHover;
        }
      }
    }
  }

  /*notification*/
  .notification{
    background-color: #27ae60;
    position: fixed;
    top: 10px;
    right: 20px;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    padding: 10px;
    min-width: 300px;
    transform: translateX(150%);
    transition: transform .3s ease;
    z-index: 10;

    &.notificationShow{
      transform: translateX(0%);
      transition: transform .3s ease;
    }
  }
</style>
