<template id="list-employee">
    <div class="table-colaboradores--menu" :key="employee.id"  v-on:click="toggle()" v-bind:class="{active: isActive}">
        <div class="table-colaboradores--menu-icon">
        <div></div>
        <div></div>
        <div></div>
        </div>
        <div class="table-colaboradores--menu-popup">
        <button @click="getEmployeeInfo(employee.id, 'edit')" v-bind:id="employee.id">Editar</button>
        <button @click="getEmployeeInfo(employee.id, 'delete')" v-bind:id="employee.id">Dar de Baja</button>
        </div>
    </div>
</template>
<script>
    import Vue from 'vue'

    export default {
        template: '#list-employee',
        props: ['employee'],
        methods: {
            toggle() {
                this.isActive = !this.isActive;
            },
            getEmployeeInfo(id, action){
                this.$emit('selectedID', {id, action})
            }
        },
        data() {
            return {
                isActive: false
            }
        },
    }
    Vue.component('context-menu', )
</script>